---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: nifiusers.nifi.konpyutaika.com
spec:
  group: nifi.konpyutaika.com
  names:
    kind: NifiUser
    listKind: NifiUserList
    plural: nifiusers
    singular: nifiuser
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              accessPolicies:
                items:
                  properties:
                    action:
                      enum:
                      - read
                      - write
                      type: string
                    componentId:
                      type: string
                    componentType:
                      type: string
                    resource:
                      enum:
                      - /system
                      - /flow
                      - /controller
                      - /parameter-context
                      - /provenance
                      - /restricted-components
                      - /policies
                      - /tenants
                      - /site-to-site
                      - /proxy
                      - /counters
                      - /
                      - /operation
                      - /provenance-data
                      - /data
                      - /policies
                      - /data-transfer
                      type: string
                    type:
                      enum:
                      - global
                      - component
                      type: string
                  required:
                  - action
                  - resource
                  - type
                  type: object
                type: array
              clusterRef:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                type: object
              createCert:
                type: boolean
              dnsNames:
                items:
                  type: string
                type: array
              identity:
                type: string
              includeJKS:
                type: boolean
              secretName:
                type: string
            required:
            - clusterRef
            type: object
          status:
            properties:
              id:
                type: string
              version:
                format: int64
                type: integer
            required:
            - id
            - version
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              accessPolicies:
                items:
                  properties:
                    action:
                      enum:
                      - read
                      - write
                      type: string
                    componentId:
                      type: string
                    componentType:
                      type: string
                    resource:
                      enum:
                      - /system
                      - /flow
                      - /controller
                      - /parameter-context
                      - /provenance
                      - /restricted-components
                      - /policies
                      - /tenants
                      - /site-to-site
                      - /proxy
                      - /counters
                      - /
                      - /operation
                      - /provenance-data
                      - /data
                      - /policies
                      - /data-transfer
                      type: string
                    type:
                      enum:
                      - global
                      - component
                      type: string
                  required:
                  - action
                  - resource
                  - type
                  type: object
                type: array
              clusterRef:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                type: object
              createCert:
                type: boolean
              dnsNames:
                items:
                  type: string
                type: array
              identity:
                type: string
              includeJKS:
                type: boolean
              secretName:
                type: string
            required:
            - clusterRef
            type: object
          status:
            properties:
              id:
                type: string
              version:
                format: int64
                type: integer
            required:
            - id
            - version
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
