---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: nifiregistryclients.nifi.konpyutaika.com
spec:
  group: nifi.konpyutaika.com
  names:
    kind: NifiRegistryClient
    listKind: NifiRegistryClientList
    plural: nifiregistryclients
    singular: nifiregistryclient
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              clusterRef:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                type: object
              description:
                type: string
              uri:
                type: string
            required:
            - uri
            type: object
          status:
            properties:
              id:
                type: string
              version:
                format: int64
                type: integer
            required:
            - id
            - version
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              clusterRef:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                type: object
              description:
                type: string
              uri:
                type: string
            required:
            - uri
            type: object
          status:
            properties:
              id:
                type: string
              version:
                format: int64
                type: integer
            required:
            - id
            - version
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
